@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(257, 40%, 49%);
  background-image: url("bg-desktop.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 100vw;
  padding: 2rem 6rem;
}

header img {
  width: 13vw;
}

.content {
  display: flex;
  padding-top: 4rem;
}

.main-image img {
  width: 45vw;
}

.main-text {
  padding-top: 2rem;
  padding-left: 4rem;
}

.main-text h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: white;
  opacity: 0.98;
}

.main-text p {
  font-family: "Open Sans", sans-serif;
  color: white;
  line-height: 1.5;
  padding-right: 4.5rem;
  padding-top: 1.2rem;
  padding-bottom: 1.4rem;
  font-size: 0.92rem;
  opacity: 0.8;
}

.main-text button {
    font-family: "Open Sans", sans-serif;
    font-size: 0.94rem;
    text-align: center;
    width: 35%;
    padding: 0.7rem;
    border-radius: 30px;
    color: purple;
    border: none;
}

.main-text button:hover {
    background-color:hsl(300, 69%, 71%);
    color: white;
}

footer ul {
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
}

footer ul li {
    color: white;
    font-size: 1.1rem;
    text-align: center;
    border: 1px solid white;
    border-radius: 70%;
    width: 3%;
    line-height: 1.9;
    margin-left: 1rem;
}

footer ul li:hover {
    color: purple;
    border-color: purple;
}

@media only screen and (max-width: 600px) {
  
body {
background-image: url(bg-mobile.svg);
background-repeat: no-repeat;
background-position: top;
padding: 2rem 2.5rem;
}

header img {
  width: 36vw;
  opacity: 0.9;
}

.content {
  display: block;
  padding-top: 4rem;
}

.main-image img {
  width: 80vw;
}

.main-text {
  padding-top: 4rem;
  padding-left: 0;
  text-align: center;
}

.main-text h1 {
  font-size: 1.6rem;
  font-weight: 400;
}

.main-text p {
  line-height: 1.5;
  padding-right: 0;
  padding-top: 1.2rem;
  padding-bottom: 1.5rem;
  font-size: 1.1rem;
  opacity: 0.7;
}

.main-text button {
  width: 65%;
  border-radius: 30px;
  color: hsl(257, 40%, 49%);
  border: none;
}

footer ul {
  justify-content: center;
  padding-top: 3rem;
  padding-bottom: 2rem;
  padding-right: 1.9rem;
}

footer ul li {
  font-size: 1.1rem;
  border: 1px solid white;
  border-radius: 100%;
  width: 9vw;
  line-height: 1.9;
  margin-left: 1.5rem;
}

}